@import "params";
@import "container";

:host {
  background: #2b2a4a;
  box-shadow: $deepShadow;
  padding: $grid * 2 $grid * 4;
}

.main-container {
  align-items: center;
  flex-direction: row;
}

.brand {
  color: #fed057;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

.mid {
  flex-grow: 1;
}

.auth-modal {
  padding: $grid * 4;
}
