@import "params";
@import "container";

.main-container {
  flex-direction: row;
}

.head {
}

.side {
  flex-shrink: 0;
  padding: $grid * 4 $grid * 4 0 0;
  width: 200px;
}

.main {
  flex-grow: 1;
}
