@import "params";
@import "container";

.main-container {
  flex-direction: row;
}

.filters {
  flex-shrink: 0;
  width: 200px;
  ul {
    list-style: none;
    margin: 0;
    padding: $grid * 4 0;
    li {
      a {
        display: block;
        padding: $grid;
        &.-active {
          background: $colorLightBg;
          border: 3px;
        }
      }
    }
  }
}

.topics {
  flex-grow: 1;
  padding-left: $grid * 2;
  .topic {
    background: $colorLightBg;
    border: 1px solid $colorLightBorder;
    border-radius: 4px;
    box-shadow: $tileShadow;
    margin: $grid * 4 0;
    padding: $grid * 2;
  }
}
