<div class="main-container">
  <div class="filters">
    <ui-side-nav>
      <a uiSideNavItem routerLink="/" class="-active">Latest</a>
      <a uiSideNavItem routerLink="/">Subscriptions</a>
      <a uiSideNavItem routerLink="/">Featured</a>
      <a uiSideNavItem routerLink="/">Needs help</a>
    </ui-side-nav>
  </div>
  <div class="topics">
    <ng-container *ngIf="data">
      <app-topic-panel *ngFor="let topic of data.latestTopics"
                       [topic]="topic">
      </app-topic-panel>
    </ng-container>
  </div>
</div>
