<ui-modal2>
  <div class="auth-modal">
    <h2>Login to Join The Community</h2>
    <ui-tabs>
      <ui-tabs-nav>
        <ui-tabs-tab [id]="1">Login</ui-tabs-tab>
        <ui-tabs-tab [id]="2">Registration</ui-tabs-tab>
      </ui-tabs-nav>
      <ui-tabs-content *kitSlide="1">
        <app-login-form></app-login-form>
        <div class="social">
          <button uiButton (click)="googleAuth()">Auth with Google</button>
        </div>
      </ui-tabs-content>
      <ui-tabs-content *kitSlide="2">
        <app-registration-form></app-registration-form>
      </ui-tabs-content>
    </ui-tabs>
  </div>
</ui-modal2>
